require 'rake/clean'
require 'pathname'

# 設定----------------

source = %w(
  hoge.md
  huga.md
)

output = "hogehuga.pdf"

tool = Pathname.new("tool")

# --------------------

md2pdf = tool / "md2pdf.rb"
lib = tool / "lib"
lib_files = lib.glob("*.rb")

task :default => output

file output => [source, md2pdf, lib_files].flatten do
  ruby md2pdf.to_s, output, *source
end

task :open => output do
  sh "open", output
end

CLEAN.include(output)
